/.vscode
/projects
/.env
/data
/chroma_db
/chat_history
/tests
/log
/configs
/.venv
md5.txt

/__pycache__
/model/__pycache__
/utils/__pycache__
/rag/__pycache__
/agent/__pycache__
/agent/tools/__pycache__
