/.vscode
.agents
.env
.env.example
/data
/chroma_db
/chat_history
/tests
/.venv
md5.txt
/src/log

/__pycache__
/model/__pycache__
/utils/__pycache__
/rag/__pycache__
/agent/__pycache__
/agent/tools/__pycache__
**/__pycache__/
*.py[cod]
